@page "/admin/category"
@using Blog.Data.Entities
@using Blog.Services
@using Blog.ViewModel
@inject CategoryService CategoryService
@inject IJSRuntime JS

<div class="container">
  <h3>Danh Mục Bài Viết</h3>
  @* <button class="btn btn-dark" @onclick="AddCategoryFormAsync">
    <i class="bi bi-plus-circle"></i>
    Thêm Danh Mục Bài Viết
  </button> *@
  <button class="btn btn-dark" @onclick="OpenCategoryFormAsync">
    <i class="bi bi-plus-circle"></i>
    Thêm Danh Mục Bài Viết
  </button>

  <hr />

  <table class="table">
    <thead>
      <tr>
        <th>STT</th>
        <th>Id</th>
        <th>Tên Danh Mục Bài Viết</th>
        <th>Slug</th>
        <th>Chức Năng</th>
      </tr>
    </thead>
    <tbody>
      @* load dữ liệu ở đây *@
      @if (load)
      {
        <tr>
          <td colspan="4">
            Đang tải danh mục bài viết...
          </td>
        </tr>
      }
      else if (!load && (categories is null || !categories.Any()))
      {
        <tr>
          <td colspan="4">
            Không có danh mục bài viết nào
          </td>
        </tr>
      }
      else
      {
        int stt = 1;
        foreach (var item in categories)
        {
          <tr>
            <td>@stt</td>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Slug</td>
            <td>
              <button type="button" class="btn btn-success" @onclick="() => EditCategoryAsync(item)">Sửa</button>
              @* <button type="button" class="btn btn-success">Sửa</button> *@
            </td>
          </tr>
          stt++;
        }
      }
    </tbody>
  </table>
</div>

<dialog id="@categoryFormDialogId">
  <SaveCategoryForm Category="entityCategory"
                    OnSaveCategory="OnSaveCategory"
                    OnCloseForm="CloseCategoryFormAsync" />
</dialog>

@code {
  private IEnumerable<Category>? categories = null;
  private bool load = false;
  private const string categoryFormDialogId = "category-form";

  private Category entityCategory = new();

  protected override async Task OnInitializedAsync()
  {
    load = true;
    try
    {
      categories = await CategoryService.GetCategoriesAsync();
    }
    finally
    {
      load = false;
    }
    // await LoadCategoriesAsync();
  }

  // private async Task LoadCategoriesAsync()
  // {
  //   load = true;
  //   try
  //   {
  //     categories = await CategoryService.GetCategoriesAsync();
  //   }
  //   finally
  //   {
  //     load = false;
  //   }
  // }

  // private async Task AddCategoryFormAsync()
  // {
  //   return await JS.InvokeVoidAsync();
  // }

  private async Task EditCategoryAsync(Category category)
  {
    // entityCategory = category.Clone();
    await OpenCategoryFormAsync();
  }

  private async Task OnSaveCategory(MethodResult methodResult)
  {
    if (methodResult.Status) // success
    {
      // thông báo lưu thành thông tin danh mục bài viết thành công
      await AlertAsync("Lưu thành thông tin danh mục bài viết!");
      // load lại danh sách danh mục bài viết
      await LoadCategoriesAsync();
      // đóng form sửa danh mục bài viết
      await CloseCategoryFormAsync();
    }
    else // fail
    {
      // thông báo lỗi
      await AlertAsync(methodResult.ErrorMessage);
    }
  }

  private async Task AlertAsync(string message)
  {
    await JS.InvokeVoidAsync("window.alert", message);
  }

  private async Task LoadCategoriesAsync()
  {
    load = true;
    try
    {
      categories = await CategoryService.GetCategoriesAsync();
    }
    finally
    {
      load = false;
    }
  }

  private async Task OpenCategoryFormAsync()
  {
    await JS.InvokeVoidAsync("window.openModal", categoryFormDialogId);
  }

  private async Task CloseCategoryFormAsync()
  {
    entityCategory = new();
    await JS.InvokeVoidAsync("window.closeModal", categoryFormDialogId);
  }

}
